<ion-menu id="main-app-menu" [content]="nav">
  <ion-header>
    <ion-toolbar color="brand">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!--For everyone-->
      <button ion-item icon-left (click)="onLoad(homePage)">
        <ion-icon name="home"></ion-icon>
        Home
      </button>
      <!--For non logged-->
      <button
        *ngIf="!authProvider.isAuthentificated"
        ion-item icon-left (click)="onLoad(signInPage)">
        <ion-icon name="log-in"></ion-icon>
        Sign in
      </button>
      <button
        *ngIf="!authProvider.isAuthentificated"
        ion-item icon-left (click)="onLoad(signUpPage)">
        <ion-icon name="person"></ion-icon>
        Sign up
      </button>
      <!--For Logged-->
      <button
        *ngIf="authProvider.isAuthentificated"
        ion-item icon-left (click)="onMyAccount()">
        <ion-icon name="contact"></ion-icon>
        My Account
      </button>
      <button
        *ngIf="authProvider.isAuthentificated"
        ion-item icon-left (click)="onLogout()">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
